* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.btn {
    display: inline-block;
    padding: 0 5 px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background: white;
    border: 1 solid silver;
    color: crimson;
    height: 37px;
    line-height: 37px;
    vertical-align: top;
    font-size: 12px;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
    border-radius: 4px;
    height: 37px;
    padding: 10px;
    border:1px solid silver;
}

.container {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }
}